<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="container" id="container_wrapper">
    <div class="row">
    <div class="col-sm-12">
        <center>
            <h1>My Images Gallerey Change Password</h1>
        </center>
    </div>
    </div>
    <br/>
    <br/>
    <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
    <!-- <p class="text-center">Use the form below to change your password. Your password cannot be the same as your username.</p> -->
    <form method="post" id="passwordForm">
    <input type="password" class="input-lg form-control" name="password1" id="password1" placeholder="New Password" autocomplete="off"><br>
    <!-- <div class="row">
    <div class="col-sm-6">
    <span id="8char" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> 8 Characters Long<br>
    <span id="ucase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Uppercase Letter
    </div>
    <div class="col-sm-6">
    <span id="lcase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Lowercase Letter<br>
    <span id="num" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Number
    </div>
    </div> -->
    <input type="password" class="input-lg form-control" name="password2" id="password2" placeholder="Repeat Password" autocomplete="off">
    <div class="row">
    <div class="col-sm-12">
    <span id="pwmatch" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Passwords Match
    </div>
    </div>
    <input id="submit_change_password" type="submit" class="col-xs-12 btn btn-primary btn-load btn-lg" data-loading-text="Changing Password..." value="Change Password" disabled>
    </form>
    </div><!--/col-sm-6-->
    </div><!--/row-->
</div>


<script>
    $(document).ready(function() {
        $("input[type=password]").keyup(function(){
            var ucase = new RegExp("[A-Z]+");
            var lcase = new RegExp("[a-z]+");
            var num = new RegExp("[0-9]+");

            if ( $("#password1").val() == $("#password2").val()) {
                $('#submit_change_password').prop('disabled', false);
            } else {
                $('#submit_change_password').prop('disabled', true);
            }
            if($("#password1").val() == $("#password2").val()){
                $("#pwmatch").removeClass("glyphicon-remove");
                $("#pwmatch").addClass("glyphicon-ok");
                $("#pwmatch").css("color","#00A41E");
            }else{
                $("#pwmatch").removeClass("glyphicon-ok");
                $("#pwmatch").addClass("glyphicon-remove");
                $("#pwmatch").css("color","#FF0004");
            }
        }); 
    });


    $('#passwordForm').on('submit', function(e) {
        e.preventDefault();
        const forgot_password = `<%= hash %>`;
        
        $.ajax({
            type: 'POST',
            url: '/user/reset_password',
            data: {
                forgot_password,
                password: $("#password1").val()
            },
            success: (result) => { 
                let color = '';
               if (result.code == 200) {
                    color = 'green';
                } else {
                    color = 'red';                    
               }

               let html = `
                   <div style="font-size: 50px; color: ${color};" >
                        <b><center>${result.message}</center><p>
                    </div>
                `;
               $('#container_wrapper').html(html);
            }
        });
    });
</script>